.order_details-pagetitle h2{
    font-size: 40px;
    padding-left: 320px;
    padding-top: 20px;
}

.order_details{

    margin-left: 100px;
    margin-top: 50px;
  }

  .order_details thead tr th{
    font-size: 20px;
    font-weight: 100;
    background-color: #0F52BA;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .order_details tbody tr td{

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }

  .order_details tbody tr:hover {background-color: #D3D3D3;}
  
  .order_details tbody tr td input[type=submit]{
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
  }
  