.wishlist_details-pagetitle h2{
    font-size: 40px;
    padding-left: 480px;
    padding-top: 20px;
}

.wishlist_details{
    margin-left: 20px;
    margin-top: 50px;
  }

  .wishlist_details thead tr th{
    font-size: 20px;
    font-weight: 100;
    background-color: #0F52BA;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .wishlist_details tbody tr td{

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }

  .wishlist_details tbody tr:hover {background-color: #D3D3D3;}
  
  .wishlist_details tbody tr td .margin{
    height: 30px;
    font-size: 18px;
    padding-left: 3px;
    width: 60px;
    margin-left: 8px;
  }
  
  .wishlist_details tbody tr td .actual-rate{
    height: 30px;
    font-size: 18px;
    padding-left: 3px;
    width: 100px
  }

  .wishlist_details tbody tr td input[type=submit]{
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
 