.wishlist-pagetitle h2{
    font-size: 40px;
    padding-left: 20px;
    padding-top: 20px;
  }

  #wishlist-table{
    font-size: 18px;
    margin-top: 50px;
    margin-left: 20px;
  }
  
  #wishlist-table thead tr{
    background-color: #0F52BA;
    color: white;
  }
  
  #wishlist-table thead tr td{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  
  }
  
  #wishlist-table tbody tr td{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
  }

  #wishlist-table tbody tr td input[type=text]{
    font-size: 18px;
    padding-left: 5px;
    height: 25px;
    width: 60%;
    margin-left: 20%;
  }

  #wishlist-table tbody tr td input[type=submit]{
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

#wishlist-table tbody tr:hover {background-color: #D3D3D3;}


.wishlist-search{
  margin-top: 50px;
  margin-left: 20px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
}

.share-button{
  margin-top: 50px;
  margin-left: 780px;
}

.share-button input[type=submit]{
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}